# IDE files
/.vs
/.idea
/*.sln

#Trash
/DerivedDataCache/*
/Intermediate/*
/Saved/*
/Binaries/*

Plugins/*/Binaries/*
Plugins/*/Intermediate/*
!Plugins/FMODStudio/Binaries/*

# Built data for maps
*_BuiltData.uasset

# Build
/Build/


Plugins/FMODStudio/Binaries/Win64/UE4Editor-FMODStudioEditor.pdb
Plugins/FMODStudio/Binaries/Win64/UE4Editor-FMODStudioEditor.dll
Plugins/FMODStudio/Binaries/Win64/UE4Editor-FMODStudio.pdb
Plugins/FMODStudio/Binaries/Win64/UE4Editor-FMODStudio.dll
Plugins/FMODStudio/Binaries/Win64/UE4Editor-FMODStudio-Win64-DebugGame.dll
Plugins/FMODStudio/Binaries/Win64/UE4Editor-FMODStudio-Win64-DebugGame.pdb
Plugins/FMODStudio/Binaries/Win64/UE4Editor-FMODStudioEditor-Win64-DebugGame.dll
Plugins/FMODStudio/Binaries/Win64/UE4Editor-FMODStudioEditor-Win64-DebugGame.pdb
Plugins/FMODStudio/Binaries/Win64/UE4Editor-Win64-DebugGame.modules
